{
  "metadata": {
    "id": "ampel",
    "description": "AMPEL Branch Protection Plugin for complyctl",
    "version": "0.0.1",
    "types": [
      "pvp"
    ]
  },
  "executablePath": "ampel-plugin",
  "sha256": "{{ result_ampel_plugin_checksum.stat.checksum }}",
  "configuration": [
    {
      "name": "workspace",
      "description": "Directory for writing plugin artifacts",
      "required": true
    },
    {
      "name": "profile",
      "description": "The compliance profile to use",
      "required": true
    },
    {
      "name": "policy_dir",
      "description": "Directory for AMPEL policy files",
      "default": "{{ complyctl_workspace }}/ampel-policies",
      "required": false
    },
    {
      "name": "results_dir",
      "description": "The name of the generated results file",
      "default": "results",
      "required": false
    },
    {
      "name": "targets_file",
      "description": "Path to target repository configuration",
      "default": "{{ complyctl_workspace }}/ampel-targets.yaml",
      "required": false
    }
  ]
}
