policies:
  - url: {{ registry_url }}/policies/cis-fedora-l1-workstation
    id: {{ policy_id | default('cis-fedora') }}
targets:
  - id: local
    policies:
      - {{ policy_id | default('cis-fedora') }}
    variables:
      profile: {{ openscap_profile | default('cis_workstation_l1') }}
