name: Vulnerabilities Check

on:
  pull_request:
    branches:
      - main

jobs:
  security_audit:
    name: OSV-Scanner
    permissions:
      contents: read
      actions: read           # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
      security-events: write  # Require writing security events to upload SARIF file to security tab
    uses: complytime/org-infra/.github/workflows/reusable_vuln_scan.yml@main
